.up-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.down-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;

    /* border: 1px solid black; */
}


/*#####################################################*/
.TODOS {
    color: red;
}
