
.up-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.down-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*!Recuerda analizar esto*/
    width: 95%;
    

    /* border: 1px solid black; */
}